<style>
    .card{
        width: 900px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 0px 0px 30px 30px;
        margin-top: 100px;
        margin-left: 100px;
        text-align: center;
        padding: 15px 20px;
    }

.tech-links{
    list-style-type: none;
}
</style>
<div class="container">
    <div class="card">
        <h2>Thabo Radiopane</h2>
        <p>
            Hi there! I'm  Thabo Radiopane and I am a Software Engineer based In Gauteng who enjoys building things on the web.
            <br><br>
            Here is the Technologies I use to build applications:
        </p>
        <ul class="tech-links">
            <li>C#</li>
            <li>SQL</li>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
    </div>

    <div class="card">
        <h2>Work:</h2>
        <ul class="tech-links"> 
            <li>Work 1</li>
            <li>Work 2</li>
            <li>Work 1</li>
            <li>Work 2</li>
            <li>Work 1</li>
            <li>Work 2</li>
        </ul>
    </div>
</div>